@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 500px;
    height: 600px;
    border: 1px solid black;
    box-shadow: 0 1px 10px black;
    flex-direction: column;
}

.vetor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    margin-top: 12px;
    width: 80%;
    height: 40px;
    border-radius: 12px;
    border: 1px solid black;
    padding: 10px;

}

.buttons{
    flex-direction: row;
}

.buttons > input{
    margin: 5px;
    width: 200px;
    height: 20px;
    background-color: grey;
    border: none;
    border-radius: 12px;
}

.lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search{
    margin-top: 12px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
